<div class="jumbotron jumbotron-fluid text-center py-5">
    <div class="container">
        <h1 class="display-4 mb-4"><b>Acesso Negado</b></h1>
        <p class="lead">Você não possui permissão para acessar esta página.</p>
        <p>Por favor, entre em contato com o administrador do sistema para obter assistência.</p>
    </div>
</div>