
<br />
<div class="container text-center">
    <img src="~/img/GM.jpg" alt="Área do Game Master" class="img-fluid rounded-circle mb-3">
    <div class="jumbotron">
        <h2 class="display-4">Bem-vindo à Área do Game Master!</h2>
        <p class="lead">Esta é uma área exclusiva para gerenciamento de jogos. Aqui você pode controlar personagens, eventos e muito mais.</p>
        <hr class="my-4">
        <p>Explore as funcionalidades e aproveite ao máximo a experiência como Game Master!</p>

        <a class="btn btn-dark" role="button" asp-area="" asp-controller="Home" asp-action="Index"> Home Page <i class="fa-solid fa-house-user"></i></a>
    </div>
</div>


<style>
    body {
        background-color: #fff; /* Define a cor de fundo da página como branco */
    }
</style>